<%= render 'layouts/header' %>
<% if user_signed_in? %>
  <h1>Collection</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>What is it?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td><%= startup.name %></td>
        <td><%= startup.URl %></td>
        <td><%= startup.description %></td>
        <td><%= link_to 'Show', startup %></td>
        <td><%= link_to 'Edit', edit_startup_path(startup) %></td>
        <td><%= link_to 'Destroy', startup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= time_ago_in_words(Date.today - 1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<%= render 'pages/home' %>
<% end %>
