

<% @startups.each do |startup| %>
<div class="status">
<strong><%= startup.name %></strong>
<strong> <%= startup.URl %></strong>
<strong><%= startup.description %></strong>
<div class="meta">
<%= link_to time_ago_in_words(startup.created_at)+ " ago ",startup %>
  <span class="admin">
    | <%= link_to "Edit", edit_startup_path(startup) %> |
    <%= link_to "Delete", startup, method: :delete, data: { confirm: "Are you sure you want to delete this startup?"} %>
</span>
</div>
</div>
<br>
 <% end %>




